@import '../../style/colors.scss';
@import '../../style/shadow.scss';


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue--500;
    font-size: 1.5rem;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    @include shadow--button;

    &--google{
        background-color: white;
        background-image: url('/logos/google-logo.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 40px;
        border: 2px solid black;
        color: #000000;
        font-size: 1.1rem;
        font-weight: 700;
        justify-content: left;
        padding-left: 20px;
        width: calc(250px - 20px);
    }
}

