@import '../../style/colors.scss';
@import '../../style/shadow.scss';

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    input{
        width: 240px;
        margin: 10px;
        padding: 5px 5px;
        outline: none;
        &:focus{
            font-weight: bold;
        }
    }
    span{
        font-size: .7rem;
        max-width: 250px;

    }
    .button--submit{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue--500;
        font-size: 1.6rem;
        width: 250px;
        height: 60px;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        @include shadow--button;
        border: none;
        margin-top: 50px;
    }
    
}